<div class="w-scree">

  <a *ngFor="let additionalServices of additionalServices" class="flex relative" routerLink="/">

    <div class="overflow-hidden w-full h-full ">

      <img [src]="additionalServices.cover" alt="">

      <div class="uppercase mb-2 absolute z-40 bottom-0 w-full  text-stone-50 text-center">

        <p class="service text-lg m-1 sm:text-4xl">{{additionalServices.title}}</p>

        <p
          class="resume tracking-wider text-sm mb-2 w-[350px] mx-auto">
          {{additionalServices.resume}}</p>

        <p class="tracking-letterSpacingXl text-sm m-0 font-thin duration-500">saiba mais</p>

      </div>

    </div>

    <div class="absolute w-full h-full bg-gradient-to-t from-black"></div>

  </a>

</div>
