<div class="mx-auto mt-12 pb-2 uppercase">

  <div class="flex">

    <p class="tracking-letterSpacingXl text-2xl px-10"routerLink="/"> Street </p>

    <div class="w-full h-1 mt-[13px] border-b-2 border-red-600"></div>

  </div>

  <div class="h-[320px]">

    <div class="keen-slider" #sliderRefStreet>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <ion-text color="dark" class="tracking-letterSpacingXl text-md">
              <p>{{cards.brand}}</p>
            </ion-text>

            <ion-text color="dark" class="tracking-wider text-2xl">{{cards.motorcycle}}</ion-text>

            <div class="w-32 mb-2 mt-2 mx-auto border-b-2 border-red-600"></div>

            <ion-text color="dark" class="tracking-wider text-xs font-thin">saiba mais</ion-text>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="mx-auto mt-12 uppercase">

  <div class="flex">

    <ion-text color="dark" class="tracking-letterSpacingXl text-2xl px-10"routerLink="/"> Scooter </ion-text>

    <div class="w-full h-1 mt-[13px] border-b-2 border-red-600"></div>

  </div>

  <div class="h-[320px]">

    <div class="keen-slider" #sliderRefScooter>

      <div *ngFor="let cards of cardsScooter" class="keen-slider__slide"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <ion-text color="dark" class="tracking-letterSpacingXl text-md">
              <p>{{cards.brand}}</p>
            </ion-text>

            <ion-text color="dark" class="tracking-wider text-2xl">{{cards.motorcycle}}</ion-text>

            <div class="w-32 mb-2 mt-2 mx-auto border-b-2 border-red-600"></div>

            <ion-text color="dark" class="tracking-wider text-xs font-thin">saiba mais</ion-text>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
