
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title class="nav-bar__logo">CG Motors</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label class="nav-bar__text">Categorias</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label class="nav-bar__text">Mais vendidos</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label class="nav-bar__text">Novides</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        <ion-label class="nav-bar__text">Entrar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
