.nav-bar__logo{
  font-family: 'Orbitron', 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.nav-bar__text{
  font-family: 'Rajdhani', 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1rem;
}
