<div id="carouselExampleCaptions" class="carousel" data-bs-ride="carousel">

  <div class="carousel-indicators items-center">

    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
      class="slider__btn rounded-full active" aria-current="true" aria-label="Slide 1"></button>

    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
      class="slider__btn rounded-full" aria-label="Slide 2"></button>

    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
      class="slider__btn rounded-full" aria-label="Slide 3"></button>

  </div>

  <div class="carousel-inner">

    <div *ngFor="let slides of slides" class="carousel-item {{ slides.active }}" data-bs-interval="7000">
      <img [src]="slides.cover" class="w-screen h-screen object-cover" alt="...">
      <div class="carousel-caption uppercase mb-20 z-40">

        <p class="carrousel__category text-base">{{slides.category}}</p>
        <p class="carrousel__motorcycle text-3xl">{{slides.motorcycle}}</p>
        <p class="carrousel__knowmore text-xs font-thin" routerLink="/">saiba mais sobre essa categoria </p>

      </div>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">

    <svg class="w-10 h-10 mr-52" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z" />
    </svg>

    <span class="visually-hidden">Previous</span>

  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">

    <svg class="w-10 h-10 ml-52" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
    </svg>

    <span class="visually-hidden">Next</span>

  </button>

</div>


<div class="w-full h-screen bg-gradient-to-t from-black absolute top-0 "></div>
