.slider__btn{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 7px 50px 7px ;
}

button.active{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-top-color: red;
  width: 20px;
  height: 20px;
  animation: spin 8s linear infinite;
}

.carrousel__category{
  animation: animationCategory 1200ms ease-out;
  letter-spacing: 0.25rem;
}

.carrousel__motorcycle{
  animation: animationMotorcycle 1200ms ease-out;
  font-family: 'Orbitron', 'Times New Roman', Times, serif;
}

.carrousel__knowmore {
  animation: animationKnowMore 2000ms ease-out;
  letter-spacing: 0.2rem;
}

@keyframes animationCategory {

0% {
    opacity: 0;

}
50% {
  opacity: 0;
}
80% {
  opacity: 0;
}
85% {
  opacity: 1;
}
100% {
    opacity: 1;
}

}

@keyframes animationMotorcycle {

0% {
     transform: translateY(50px);
     opacity: 0;
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);

}
100% {
    transform: translateY(0);
    opacity: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
}

}

@keyframes animationKnowMore {

  0% {
      opacity: 0;

  }
  50% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }

  }

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
