<div class="uppercase">

  <div class="flex">

    <div class="w-full h-1 mt-[30px] mb-3 mx-auto border-b-2 border-red-600"></div>

    <ion-text class="tracking-letterSpacingXl text-3xl mx-4 mt-4">
      sport
    </ion-text>

    <div class="w-full h-1 mt-[30px] mb-3 mx-auto border-b-2 border-red-600"></div>

  </div>

  <div class="w-full h-full" routerLink="/">

    <ion-text class="tracking-wider text-[120px] mt-[-30px] absolute left-[50%] translate-x-[-50%] text-black/50 -z-10" >
      ninja
    </ion-text>

    <img class="mx-auto w-full z-10 mt-[10px]" src="./../../../../assets/images/highlights__section-one__Ninja-ZX-10R.png" alt="">

    <div class="text-center">

      <ion-text>
        <p class="w-full text-2xl">
          ninja zx-10r krt edition
        </p>
      </ion-text>

      <ion-text>
        <p class="tracking-letterSpacingXl text-xs font-thin w-screen">
          saiba mais sobre essa moto
        </p>
      </ion-text>

    </div>

  </div>

</div>

<div class="uppercase">

  <div class="flex">

    <div class="w-full h-1 mt-[30px] mb-3 mx-auto border-b-2 border-red-600"></div>

    <ion-text class="tracking-letterSpacingXl text-3xl mx-4 mt-4">
      custom
    </ion-text>

    <div class="w-full h-1 mt-[30px] mb-3 mx-auto border-b-2 border-red-600"></div>

  </div>

  <div class="w-full h-full" routerLink="/">

    <ion-text class="tracking-wider text-[60px] absolute left-[50%] translate-x-[-50%] text-black/30 -z-10" >
      sportster
    </ion-text>

    <img class="mx-auto w-full z-10 mt-[10px]" src="./../../../../assets/images/highlights__section-one__Sportster.png" alt="">

    <div class="text-center">

      <ion-text>
        <p class="w-full text-xl">
          harley-dividson sportster
        </p>
      </ion-text>

      <ion-text>
        <p class="tracking-letterSpacingXl text-xs font-thin w-screen">
          saiba mais sobre essa moto
        </p>
      </ion-text>

    </div>

  </div>

</div>





<div class="mt-[30px]">

  <div class="w-scree">

    <a *ngFor="let highlights of highlights" class="flex relative" routerLink="/">

      <div class="overflow-hidden w-full h-full">

        <img [src]="highlights.cover" alt="">

        <div class="uppercase mb-6 absolute z-40 bottom-0 w-full  text-stone-50 text-center">

          <p class="tracking-letterSpacingXl text-sm m-0">
            {{highlights.category}}
          </p>

          <p class="motorcycle text-lg m-1">
            {{highlights.motorcycle}}
          </p>

          <p class="tracking-letterSpacingXl text-xs m-0font-thin">
            saiba mais sobre essa categoria
          </p>

        </div>

      </div>

      <div class="absolute w-full h-full bg-gradient-to-t from-black"></div>

    </a>

  </div>

</div>






