<div class="w-screen  bg-gradient-to-tr from-zinc-700 to-zinc-900">

  <div class="inline text-center mx-auto max-w-screen-xl">

    <div class="ml-10 pt-8 flex relative">

      <div class="title text-2xl uppercase text-white">concessionárias</div>

      <ul class="p-0 hidden" [ngClass]="{ 'active': actived1 }">
        <li><a href="">São Paulo</a></li>
        <li><a href="">Belo Horizonte</a></li>
        <li><a href="">Buri</a></li>
      </ul>

      <svg class="mt-[4px] absolute right-14" (click)="drawer1()"
        [ngClass]="{ 'active': actived1 }" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        width="24px" height="24px" fill-rule="evenodd">
        <path fill-rule="evenodd"
          d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" />
      </svg>

    </div>

    <div class="ml-10 pt-8 flex relative">

      <div class="title text-2xl uppercase text-white">corridas</div>

      <ul class="p-0 hidden" [ngClass]="{ 'active': actived2 }">
        <li><a href="">Moto GP</a></li>
        <li><a href="">Isle of man TT</a></li>
        <li><a href="">Superbike</a></li>
        <li><a href="">North West 200</a></li>
      </ul>

      <svg class="mt-[4px] absolute right-14" (click)="drawer2()"
        [ngClass]="{ 'active': actived2 }" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        width="24px" height="24px" fill-rule="evenodd">
        <path fill-rule="evenodd"
          d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" />
      </svg>

    </div>

    <div class="ml-10 pt-8 flex relative">

      <div class="title text-2xl uppercase text-white">Redes Socias</div>

      <ul class="p-0 hidden" [ngClass]="{ 'active': actived4 }">
        <li><a href="">Instagram</a></li>
        <li><a href="">Facebook</a></li>
        <li><a href="">Twitter</a></li>
        <li><a href="">Tik Tok</a></li>
      </ul>

      <svg class="mt-[4px] absolute right-14" (click)="drawer4()"
        [ngClass]="{ 'active': actived4 }" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        width="24px" height="24px" fill-rule="evenodd">
        <path fill-rule="evenodd"
          d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" />
      </svg>

    </div>

    <div class="ml-10 pt-8 pb-8 flex relative">

      <div class="title text-2xl uppercase text-white">universo</div>

      <ul class="p-0 hidden" [ngClass]="{ 'active': actived5 }">
        <li><a href="">Notícias</a></li>
        <li><a href="">Revista</a></li>
        <li><a href="">História</a></li>
      </ul>

      <svg class="mt-[4px] absolute right-14" (click)="drawer5()"
        [ngClass]="{ 'active': actived5 }" fill="#fff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
        width="24px" height="24px" fill-rule="evenodd">
        <path fill-rule="evenodd"
          d="M 11 2 L 11 11 L 2 11 L 2 13 L 11 13 L 11 22 L 13 22 L 13 13 L 22 13 L 22 11 L 13 11 L 13 2 Z" />
      </svg>

    </div>

  </div>

  <div class="w-[50%] mb-6 mt-4 mx-auto border-b-2 border-zinc-500"></div>

  <div class="mx-auto w-[60%] text-center text-zinc-500 text-xs pb-10">
    <p>
      CG Motors SpA - Sociedade de direito brasileiro, com sede em Buri, São Paulo, Brasil
    </p>
    <p>
      Copyright 2022 - Todos os direitos reservados
    </p>
  </div>
</div>
