<ion-content [fullscreen]="true">

  <div id="container">

    <app-slider></app-slider>

    <app-highlights></app-highlights>

    <app-cards></app-cards>

    <app-additional-services></app-additional-services>

    <app-footer></app-footer>

  </div>

</ion-content>
